@media screen and (max-width: 860px) {
    .htext {
    position: absolute;
    font-size: 40px;
    color: #EF0C23;
    left: 150px;
    top: 160px;
    transition: 0.5s ease;
    font-family: "BPG Nino Mtavruli", sans-serif;
    }
    .htext:hover {
        font-size: 44px ;
    }
    .home {
        font-size: 24px;
        top: 200px;
        left: 150px;
    }
    .button {
        font-size: 14px;
        position: relative;
        top: -100px;
        padding: 10px 30px;
        font-family: "BPG Nino Mtavruli Bold", sans-serif;
    }
    .container .box {
        padding: 3px;
    }
}
@media screen and (max-width: 780px) {
    .htext {
        font-size: 35px;
        top: 150px;
        left: 130px;
    }
    .htext:hover {
        font-size: 38px ;
    }
    .home {
        font-size: 22px;
        top: 200px;
        left: 130px;
    }
    .button {
        top: -100px;
        left: -18px;
    }
    .container .box {
        flex-wrap: wrap;
        width: auto;
    }
}
@media screen and (max-width: 720px) {
    .social {
        margin-top: 10px;
        margin-left: 230px;
        margin-bottom: 20px
    }
    
}
@media screen and (max-width: 670px) {
    span.one {
        width: 30px;
    }
    span.two {
        width: 30px;
    }
    span.three {
        display: none;
    }
    .htext {
        top: 150px;
        left: 135px;
    }
    .htext:hover {
        font-size: 40px ;
    }
    .home {
        top: 195px;
        left: 135px;
    }
    .button {
        top: -100px;
        left: -15px;
    }
}
@media screen and (max-width: 620px) {
    .align > li {
        width: 100%;
        min-height: 440px;
        height: auto;
        padding: 0;
        margin: 0 0 30px 0;
    }

    .book {
        margin: 0 auto;
    }

    .booktext {
        text-align: center;
        width: 320px;
        top: 250px;
        padding-left: 0;
        left: -80px;
        font-size: 90%;
    }
    .logoimg {
        width: 100px;
        left: 0%;
        top: 0%;
        margin-left: 140px;
    }
    .img img {
        margin-top: 40px;
    }

    
} 
@media screen and (max-width: 580px) {
    .htext {
        top: 130px;
        font-size: 33px;
        left: 110px;
    }
    .htext:hover {
        font-size: 35px ;
    }
    .home {
        font-size: 20px;
        top: 175px;
        left: 110px;
    }
    .button{
        top: -125px;
        left: -40px;
        font-size: 12px;
    }
    .social {
        margin-top: 25px;
        margin-left: 3px;
        margin-bottom: 22px;
    }
}
@media screen and (max-width: 535px) {
    .htext {
        top: 130px;
        font-size: 30px;
        left: 130px;
    }
    .htext:hover {
        font-size: 33px ;
    }
    .home {
        top: 165px;
        left: 130px;
    }
    .button {
        top: -140px;
        left: -20px;
    }
}
@media screen and (max-width: 500px) {
    .logo img {
        width: 170px;
        margin-top: 5px;
    }
    .toggle-btn {
        width: 25px;
    } 
    .htext {
        top: 110px;
        font-size: 24px;
        left: 80px;
    }
    .htext:hover {
        font-size: 26px;
    }
    .home {
        top: 135px;
        left: 80px;
    }
    .button {
        top: -165px;
        left: -65px;
    }
    .container {
        flex-wrap: wrap;
    }
    .fbox{
        margin-top: 22px;
        margin-right: 14px;
    }
    .fcont{
        margin-top: 20px;
        margin-right: 48px;
    }
}
@media screen and (max-width: 400px) {
    .social {
        margin-top: 35px;
        margin-left: 3px;
    }
}
@media screen and (max-width: 390px) {
    .htext {
        top: 100px;
        font-size: 20px;
        left: 60px;
    }
    .htext:hover {
        font-size: 22px;
    }
    .home {
        top: 125px;
        left: 60px;
        font-size: 15px;
    }
    .button {
        top: -199px;
        left: -89px;
        font-size: 10px;
        width: 116px;
    }


    .fbox {
        margin-right: 0px;
    }
}