@import url("https://cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

.logo{

    width: 100%;
    position: absolute;
    
}
.logo img{
    display: flex;
    position: absolute;
    width: 200px;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    margin-left: auto;
    margin-right: auto;
}
.login {
    display: flex;
    position: absolute;
}
.youaracc {
    color: #EF0C23;
    position: relative;
}
.acca i{
    font-size: 20px;
    margin-top: 25px;
    margin-left: 25px;
    cursor: pointer;
    color: #EF0C23;
    transition: 0.2s ease;
}
.account:hover {
    font-size: 22px;
    color: #ff3449;
    transition: 0.2s ease;
}
/* Menu */
.toggle-btn {
    position: fixed;
    margin: 1.4em;
    width: 40px;
    height: 12px;
    right: 0;
    z-index: 4;
    cursor: pointer;
}

span.one {
    position: absolute;
    width: 40px;
    height: 2px;
    background: black;
}

span.two {
    position: absolute;
    width: 40px;
    height: 2px;
    background: black;
    margin-top: 12px;
}
span.three {
    position: absolute;
    width: 30px;
    height: 2px;
    background: black;
    margin-left: 10px;
    margin-top: 24px;
}

.menu {
    z-index: 2;
    position: fixed;
    background: #0000007a;
    height: 100%;
    width: 100%;
    top: -100%;
}

.data {
    padding: 8em 0 0 2em;
    text-align: left;
}

ul {
    list-style: none;
}

.navname {
    color: #fff;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 22px;
    text-align: center;
}

.nav-li {
    color: #fff;
    font-size: 42px;
    text-align: center;
    margin-top: 14px;
    
}
.a1:hover {
    color: #ef0c2391;
    transition: all ease 0.6s;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.flagh4 {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 13px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.geo {
    position: absolute;
    width: 60px;
    top: 0%;
    right: 50%;
    transform: translate(-50%, -50%);
    margin-right: auto;
    margin-top: 50px;
    opacity: 0.7;
    transition: 0.6s ease-in-out;
}
.eng {
    position: absolute;
    width: 60px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-left: 60px;
    margin-right: auto;
    margin-top: 35px;
    opacity: 0.7;
    transition: 0.6s linear;
}
.geo:hover, .eng:hover {
    opacity: 1;
    transition: 0.6s linear;
    width: 70px;
}
.a1 {
    text-decoration: none;
    color: #fff;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    transition: all ease 0.6s;
}
.a1:hover {
    color: #ef0c2391;
    transition: all ease 0.6s;
}

.banner img{
    width: 100%;
}

.htext {
    position: absolute;
    font-size: 55px;
    color: #EF0C23;
    left: 150px;
    top:200px;
    transition:  0.5s ease;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.htext:hover {
    font-size: 55px;
    color: #fff;
    font-family: "BPG Nino Mtavruli", sans-serif;
    transition:  0.5s ease;
}
.home {
    position: absolute;
    top: 280px;
    left: 150px;
    font-size: 35px;
    color: #fff;
    font-family: "BPG Nino Mtavruli", sans-serif;
    transition: all 0.7s ease;
}
.home:hover {
    transition: all 0.7s ease;
    color: #EF0C23;
}
.button1 {
    position: absolute;
    top: 360px;
    left: 147px;
}
.button{
	font-size: 16px;
	font-family: "ArchyEDT-Bold", sans-serif;
	font-weight: 500;
	padding: 12px 35px;
	color: #ffffff;
	border-radius: 40px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
	white-space: nowrap;
	border: none;
    cursor: pointer;
    background: #EF0C23;
}
.button:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/*  Service */
.container {
    display: flex;
    justify-content: space-between;
}
.container .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.container .box .icon {
    position: relative;
    width: 50px;
    height: 50px;
    color: #fff;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 28px;
    transition: 1s ease-in;
}
.container .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63 ;
} 
.container .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #e91e63;
}
.container .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #f95a3d;
    background: #f95a3d ;
} 
.container .box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #f95a3d;
}
.container .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #c5223c;
    background: #c5223c ;
} 
.container .box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #c5223c;
}
.container .box .content {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
.container .box:hover .content {
    color: #fff;
}
.content h3 {
    color: #a7a7a7;
    margin-top: 20px;
    font-family:  "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 22px;
}
.content p {
    margin-top: 2px;
    font-family: "BPG Nino Mtavruli ", sans-serif;
    font-size: 17px;
}
.content a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    margin-top: 8px;
    border-radius: 5px;
    color: #000;
    font-family: "BPG Nino Mtavruli ", sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}





















footer {
    background-color: #ff3449;
    height: auto;
    margin: 0 auto;
    position: relative;
    font-family: 'BPG Nino Mtavruli';
}
.footerinfo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
}
.fbox {
    margin: 75px 0px 0 0px;
}
.fbox h2 {
    font-size: 30px;
    color: #ffffffad;
    font-family: 'BPG Nino Mtavruli Bold'
}
.fbox p{
    color: #fff;
    width: 280px;
    margin: 25px 0;
    font-family: 'BPG Nino Mtavruli';
}
.fcont {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
.fcont p {
    color: #ffffffad;
    font-family: 'BPG Nino Mtavruli Bold';
    font-size: 30px;
}
.contnav {
    width: 210px;
    display: flex;
    margin-top: 16px;
}
.mail {
    color: #fff;
}
.fmail {
    margin-left: 15px;
    font-size: 15px;
    font-family: 'BPG Nino Mtavruli';
    color: #fff;
}
.fcontmail {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}
.social {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}
.social p {
    font-size: 30px;
    color: #ffffffad;
    font-family: 'BPG Nino Mtavruli Bold'
}
.soc {
    width: 210px;
    display: flex;
    margin-top: 16px;
}
.fab {
    color: #fff;
    font-size: 15px;
}
.soca {
    margin-top: 3px;
    margin-left: 15px;
    color: #fff;
    font-size: 15px;
}
