.logo {
    display: flex;
    max-width: 100%;
    width: 100%;
}
.logoimg {
    position: absolute;
    left: 50%;
    top: 0%;
    width: 170px;
    transform: translate(-50%,0);
    transition: 0.8s ease;
    z-index: 1;;
}
.logoimg:hover {
    opacity: 0.8;
    transition: 0.8s ease;
}
.btn {
    position: absolute;
    top: 2px;
    right: 20px;
    height: 45px;
    width: 45px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    transition: right 0.5s ease;
}
.btn.click {
    right: 250px;

}
.btn span {
    color:black;
    font-size: 28px;
    line-height: 45px;
}
.btn span:hover {
    transition:  0.5s ease;
    color:#EF0C23;
}
.btn.click span:before {
    content: '\f00d';
}
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    right: -250px;
    background: rgba(255,255,255,.2);
    transition: right 0.4s ease;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.sidebar.show {
    right: 0;
    z-index: 1;
}
.sidebar .text {
    color: black;
    font-size: 25px;
    line-height: 65px;
    text-align: center;
    background:rgba(255,255,255,.2);
    letter-spacing: 1px;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
nav ul {
    background:rgba(255,255,255,.2);;
    height: 100%;
    width: 100%;
    list-style: none;
}
nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    display: block;
    width: 100%;
    border-right: 3px solid rgba(255,255,255,0.1);
    font-family: "BPG Nino Mtavruli", sans-serif;
    transition:  0.5s ease;
}
nav ul li a:hover {
    color:#EF0C23;
    border-right-color:#EF0C23;
    transition: right 0.5s ease;
}
.social .fb {
    margin-left: 39px;
    font-size: 30px;
    margin-top: 20px;
    color:#EF0C23;
    transition: 1s ease;
}
.social .fb:hover {
    color: blue;
}
.social .instagram {
    margin-left: 60px;
    font-size: 31px;
    color: #b43441;
    transition: 1s ease;
}
.social .instagram:hover {
    color: #5851db ;
    transition: 1s ease;
}
.social .twit {
    margin-left: 50px;
    font-size: 30px;
    color: #ba2323;
}
.social .twit:hover {
    color: #1DA1F2; 
    transition: 1s ease;
}
.flags {
    margin-top: 10px;
}
.flaggeo img {
    width: 34.6px;
    height: 18.54px;
    margin-left: 62px;
}
.flageng img {
    width: 34.6px;
    height: 18.54px;
    margin-left: 60px;
}

.img img {
    position: relative;
    margin-top: 60px;
    max-width: 100%;
    width: 100%;
    opacity: 0.6;
    transition:  0.5s ease;
}
.img img:hover {
    opacity: 1;
    transition:  0.5s ease;
}
.htext {
    position: absolute;
    font-size: 55px;
    color: #EF0C23;
    left: 150px;
    top:200px;
    transition:  0.5s ease;
    font-family: "BPG Nino Mtavruli", sans-serif;
}
.htext:hover {
    font-size: 55px;
    color: #fff;
    font-family: "BPG Nino Mtavruli", sans-serif;
    transition:  0.5s ease;
}
.home {
    position: absolute;
    top: 270px;
    left: 150px;
    font-size: 35px;
    color: #fff;
    font-family: "BPG Nino Mtavruli", sans-serif;
    transition: all 0.7s ease;
}
.home:hover {
    transition: all 0.7s ease;
    color: #EF0C23;
}
.button1 {
    position: absolute;
    top: 360px;
    left: 147px;
}
.button{
	font-size: 16px;
	font-family: "BPG Banner Caps", sans-serif;

	font-weight: 500;
	padding: 12px 35px;
	color: #ffffff;
	border-radius: 40px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
	white-space: nowrap;
	border: none;
    cursor: pointer;
    background: #EF0C23;
}
.button:hover{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
/*  წიგნების სექცია */
/*
    A. Mini Reset 
*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
::before,
::after {
    content: "";
}

.btnbook {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid #2c3e50;
    margin-top: 100px; 
    font-size: 0.7em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    text-align: center;
    -webkit-transition: color 0.3s, border-color 0.3s;
    -moz-transition: color 0.3s, border-color 0.3s;
    transition: color 0.3s, border-color 0.3s;
}

.btnbtnbook:hover {
    border-color: #16a085;
    color: #16a085;
}

/* basic grid, only for this demo */

.align {
    clear: both;
    margin: 90px auto 20px;
    width: 100%;
    max-width: 1170px;
    text-align: center;
}

.align > li {
    width: 500px;
    min-height: 300px;
    display: inline-block;
    margin: 30px 20px 30px 30px;
    padding: 0 0 0 60px;
    vertical-align: top;
}


.book {
    position: relative;
    width: 160px; 
    height: 220px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

/*
    2. background & color
*/

/* HARDCOVER FRONT */
.bookimg li:first-child {
    background-color: #eee;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* reverse */
.bookimg li:last-child {
    background: #fffbec;
}

/* HARDCOVER BACK */
.bookimgbackbookimgback li:first-child {
    background: #fffbec;
}

/* reverse */
.bookimgbackbookimgback li:last-child {
    background: #fffbec;
}

.book_spine li:first-child {
    background: #eee;
}
.book_spine li:last-child {
    background: #333;
}

/* thickness of cover */

.bookimg li:first-child:after,
.bookimg li:first-child:before,
.bookimg li:last-child:after,
.bookimg li:last-child:before,
.bookimgbackbookimgback li:first-child:after,
.bookimgbackbookimgback li:first-child:before,
.bookimgbackbookimgback li:last-child:after,
.bookimgbackbookimgback li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
    background: #999;
}

/* page */

.page > li {
    background: -webkit-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 0.1), inset -1px 0px 1px rgba(150, 150, 150, 0.2);
    border-radius: 0px 5px 5px 0px;
}
.page a {
    font-family: "BPG Nino Mtavruli", sans-serif;
    color: #ef0c23;
    
}


.bookimg {
    -webkit-transform: rotateY(-34deg) translateZ(8px);
    -moz-transform: rotateY(-34deg) translateZ(8px);
    transform: rotateY(-34deg) translateZ(8px);
    z-index: 100;
}

.bookimgback {
    -webkit-transform: rotateY(-15deg) translateZ(-8px);
    -moz-transform: rotateY(-15deg) translateZ(-8px);
    transform: rotateY(-15deg) translateZ(-8px);
}

.page li:nth-child(1) {
    -webkit-transform: rotateY(-28deg);
    -moz-transform: rotateY(-28deg);
    transform: rotateY(-28deg);
}

.page li:nth-child(2) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
}

.page li:nth-child(3) {
    -webkit-transform: rotateY(-32deg);
    -moz-transform: rotateY(-32deg);
    transform: rotateY(-32deg);
}

.page li:nth-child(4) {
    -webkit-transform: rotateY(-34deg);
    -moz-transform: rotateY(-34deg);
    transform: rotateY(-34deg);
}

.page li:nth-child(5) {
    -webkit-transform: rotateY(-36deg);
    -moz-transform: rotateY(-36deg);
    transform: rotateY(-36deg);
}

/*
    4. position, transform & transition
*/

.bookimg,
.bookimgback,
.book_spine,
.bookimg li,
.bookimgback li,
.book_spine li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.bookimg,
.bookimgback {
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

.bookimg {
    -webkit-transition: all 0.8s ease, z-index 0.6s;
    -moz-transition: all 0.8s ease, z-index 0.6s;
    transition: all 0.8s ease, z-index 0.6s;
}

/* HARDCOVER front */
.bookimg li:first-child {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.bookimg li:last-child {
    -webkit-transform: rotateY(180deg) translateZ(2px);
    -moz-transform: rotateY(180deg) translateZ(2px);
    transform: rotateY(180deg) translateZ(2px);
}

/* HARDCOVER back */
.bookimgback li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.bookimgback li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

/* thickness of cover */
.bookimg li:first-child:after,
.bookimg li:first-child:before,
.bookimg li:last-child:after,
.bookimg li:last-child:before,
.bookimgback li:first-child:after,
.bookimgback li:first-child:before,
.bookimgback li:last-child:after,
.bookimgback li:last-child:before,
.book_spine li:first-child:after,
.book_spine li:first-child:before,
.book_spine li:last-child:after,
.book_spine li:last-child:before {
    position: absolute;
    top: 0;
    left: 0;
}

/* HARDCOVER front */
.bookimg li:first-child:after,
.bookimg li:first-child:before {
    width: 4px;
    height: 100%;
}

.bookimg li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.bookimg li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.bookimg li:last-child:after,
.bookimg li:last-child:before {
    width: 4px;
    height: 160px;
}

.bookimg li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(-2px) translateY(-78px);
}
.bookimg li:last-child:before {
    box-shadow: 0px 0px 30px 5px #333;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(-2px) translateY(-78px);
}

/* thickness of cover */

.bookimgback li:first-child:after,
.bookimgback li:first-child:before {
    width: 4px;
    height: 100%;
}

.bookimgback li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}
.bookimgback li:first-child:before {
    -webkit-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(158px) translateX(2px);
    transform: rotateY(90deg) translateZ(158px) translateX(2px);
}

.bookimgback li:last-child:after,
.bookimgback li:last-child:before {
    width: 4px;
    height: 160px;
}

.bookimgback li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(80px) translateX(2px) translateY(-78px);
}

.bookimgback li:last-child:before {
    box-shadow: 10px -1px 80px 20px #666;
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-140px) translateX(2px) translateY(-78px);
}

/* BOOK SPINE */
.book_spine {
    -webkit-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    -moz-transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    transform: rotateY(60deg) translateX(-5px) translateZ(-12px);
    width: 16px;
    z-index: 0;
}

.book_spine li:first-child {
    -webkit-transform: translateZ(2px);
    -moz-transform: translateZ(2px);
    transform: translateZ(2px);
}

.book_spine li:last-child {
    -webkit-transform: translateZ(-2px);
    -moz-transform: translateZ(-2px);
    transform: translateZ(-2px);
}

/* thickness of book spine */
.book_spine li:first-child:after,
.book_spine li:first-child:before {
    width: 4px;
    height: 100%;
}

.book_spine li:first-child:after {
    -webkit-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    -moz-transform: rotateY(90deg) translateZ(-2px) translateX(2px);
    transform: rotateY(90deg) translateZ(-2px) translateX(2px);
}

.book_spine li:first-child:before {
    -webkit-transform: rotateY(-90deg) translateZ(-12px);
    -moz-transform: rotateY(-90deg) translateZ(-12px);
    transform: rotateY(-90deg) translateZ(-12px);
}

.book_spine li:last-child:after,
.book_spine li:last-child:before {
    width: 4px;
    height: 16px;
}

.book_spine li:last-child:after {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(8px) translateX(2px) translateY(-6px);
}

.book_spine li:last-child:before {
    box-shadow: 5px -1px 100px 40px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
    -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
    transform: rotateX(90deg) rotateZ(90deg) translateZ(-210px) translateX(2px) translateY(-6px);
}

.page,
.page li {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.page {
    width: 100%;
    height: 98%;
    top: 1%;
    left: 3%;
    z-index: 10;
}

.page li {
    width: 100%;
    height: 100%;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-property: transform;
    -moz-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
}

.page li:nth-child(1) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page li:nth-child(2) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.page li:nth-child(3) {
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.page li:nth-child(4) {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.page li:nth-child(5) {
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

/*
    5. events
*/

.book:hover > .bookimg {
    -webkit-transform: rotateY(-145deg) translateZ(0);
    -moz-transform: rotateY(-145deg) translateZ(0);
    transform: rotateY(-145deg) translateZ(0);
    z-index: 0;
}

.book:hover > .page li:nth-child(1) {
    -webkit-transform: rotateY(-30deg);
    -moz-transform: rotateY(-30deg);
    transform: rotateY(-30deg);
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.book:hover > .page li:nth-child(2) {
    -webkit-transform: rotateY(-35deg);
    -moz-transform: rotateY(-35deg);
    transform: rotateY(-35deg);
    -webkit-transition-duration: 1.8s;
    -moz-transition-duration: 1.8s;
    transition-duration: 1.8s;
}

.book:hover > .page li:nth-child(3) {
    -webkit-transform: rotateY(-118deg);
    -moz-transform: rotateY(-118deg);
    transform: rotateY(-118deg);
    -webkit-transition-duration: 1.6s;
    -moz-transition-duration: 1.6s;
    transition-duration: 1.6s;
}

.book:hover > .page li:nth-child(4) {
    -webkit-transform: rotateY(-130deg);
    -moz-transform: rotateY(-130deg);
    transform: rotateY(-130deg);
    -webkit-transition-duration: 1.4s;
    -moz-transition-duration: 1.4s;
    transition-duration: 1.4s;
}

.book:hover > .page li:nth-child(5) {
    -webkit-transform: rotateY(-140deg);
    -moz-transform: rotateY(-140deg);
    transform: rotateY(-140deg);
    -webkit-transition-duration: 1.2s;
    -moz-transition-duration: 1.2s;
    transition-duration: 1.2s;
}



/* booktext */

.booktext {
    padding-left: 40px;
    text-align: left;
    position: absolute;
    top: 0%;
    left: 160px;
    width: 310px;
}

.booktext h1 {
    margin: 0;
}

.booktext span {
    color: #16a085;
    padding: 0.6em 0 1em 0;
    display: block;
}

.booktext p {
    color: #63707d;
    line-height: 1.3;
}




